body {
	font-family: Georgia;
}

a:visited { color: blue; }

h1,h2,h3 {
	font-family: Helvetica;
	text-align: center;
}

h2 {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}

.copyright {
	font-size: 10pt;	
}

.copyright img {
	border-width: 0;
	margin: 0.3em auto 0;
	display: block;
}

#missionstatement {
	padding: 0 29px;
	width: 385px;
	text-align: justify;
	border-right: 8px solid #90caea;
	float: left;
}

#sidebar {
	float: left;
	margin: 1em 29px 0;
	width: 350px;
	text-align: justify;
}

#preview {
	width: 200px;
	height: 200px;
	padding: 4px;
	border: 1px solid #ddd;
	margin: 0 auto 2em;
	display: block;
}

#everything {
	width: 859px;
	margin: 0 auto;
}

#donate {
	font-size: 0.8em;
}

#donate form {
	display: inline;
}

#donate form input {
	vertical-align: middle;
}